@model IEnumerable<University.Models.DataBaseModels.Student>

@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <h1 class="display-4">List of Student</h1>
    @if (!Model.Any())
    {
        <p>No students available.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>
                            <form asp-controller="Student" asp-action="EditStudent" method="get">
                                <input type="hidden" name="id" value="@student.Id" />
                                <button type="submit">Edit</button>
                            </form>
                            <form asp-controller="Student" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@student.Id" />
                                <button type="submit">Delete</button>
                            </form>
                            <a asp-controller="Student" asp-action="DetailsStudent" asp-route-id="@student.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="text-center">
    <h2 class="mt-4">Add New Student</h2>
    <form method="post" action="/Student/Create">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="groupId">Group:</label>
            <select id="groupId" name="GroupId" class="form-control">
                @foreach (var group in ViewBag.Groups)
                {
                    <option value="@group.Id">@group.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
</div>
